.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 10px;
    animation-name: box1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
}
@keyframes box1 {
    0%{
        transform: translateX(200px);
    }
    25%{
        transform: translateY(-200px);
    }
    50%{
        transform: translateX(-200px);
    }
    75%{
        transform: translateY(200px)
    }
    100%{
        transform: translateX(200px);
    }
}