body{
    background-size: cover;
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/230621042149-01-cristiano-ronaldo-euro-200-apps-062023-restricted.jpg?c=3x2);
}
p{
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100vw;
}
h1{
    text-align: end;
    color: red;
}