.a{
    height: 100px;
    width: 600px;
    border: 2px solid red;
}
.b{
    height: 100px;
    width: 140px;
    border: 2px solid seagreen;
    position: absolute;
    left: 465px;
    top: 120px;
}
.c{
    height: 100px;
    width: 600px;
    border: 2px solid blue;
    position: absolute;
    bottom: 100px;
}
.d{
    height: 110px;
    width: 140px;
    border: 2px solid seagreen;
    position: absolute;
    bottom: 210px;
    left: 465px;
}
.e{
    height: 130px;
    width: 140px;
    border: 2px solid brown;
    position: absolute;
    bottom: 330px;
    left: 465px;
}
.f{
    height: 355px;
    width: 445px;
    border: 2px solid pink;
    position: absolute;
    bottom: 215px; 
}
.g{
    height: 40px;
    width: 430px;
    position: absolute;
    left: 6px;
    border: 2px solid green;
    top: 37px;
}
.h{
    height: 60px;
    width: 430px;
    border: 2px solid red;
    position: absolute;
    bottom: 10px;
    left: 5px;
}
.i{
    height: 180px;
    width: 427px;
    border: 2px solid brown;
    position: absolute;
    bottom:80px ;
    left: 7px;
}