.first{
    background-color: orange;
    padding: 10px;
    width: 350px;
}
.second{
    background-color: rgb(16, 143, 143);
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
}
.third{
    background-color: rgb(63, 5, 63);
    padding-top: 30px;
    width: 350px;
}
.fourth{
    background-color: rgb(47, 151, 47);
    padding: 10px;
    width: 380px;
}
.Fivth{
    background-color: rgb(47, 151, 47);
    padding: 10px;
    width: 380px;
}