body{
    background-color: rgb(92, 143, 136);
}
.head_One{
        height: 250px;
        width: 250px;
        border-radius: 20px;
        background-color: white;
        box-shadow: -10px 10px 10px rgb(199, 197, 197);
}
.head_Two{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    box-shadow: -10px 10px 10px rgb(199, 197, 197);
}
.head_Three{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgb(199, 197, 197);
    background-color: white;
}
.box{
    position: absolute;
    gap: 30px;
    display: flex;
    left: 300px;
    top: 220px;
}
.head_Four{
    height: 20px;
    width: 190px;
    border-radius: 3px;
    position: absolute;
    left: 30px;
    top: 200px;
    background-image: linear-gradient(to right,orange,yellow);
    background-color: yellow;
    
}
.head_Five{
    height: 20px;
    width: 190px;
    border-radius: 3px;
    position: absolute;
    left: 310px;
    top: 200px;
    background-image: linear-gradient(to right,rgb(7, 7, 241),rgb(96, 96, 110));
    background-color: blue;
}
.head_Six{
    height: 20px;
    width: 190px;
    border-radius: 3px;
    position: absolute;
    left: 590px;
    top: 200px;
    background-image: linear-gradient(to right,rgb(78, 114, 78),rgb(0, 255, 0));
    background-color: blue;
}
.head_Seven,.head_Eight,.head_Nine{
    font-size: 15px;
}
h1{
    color: black;
    text-align: center;
}