*{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
    color: white;
    justify-content: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    /* background-image: url(https://e0.pxfuel.com/wallpapers/329/765/desktop-wallpaper-web-design-dark-developer.jpg); */
    background-size: cover;
    background-image: linear-gradient(to right,yellow,rgb(214, 75, 98),red);
}
h1{
    position: absolute;
    top: 250px;
    right: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
p{
    position: absolute;
    top: 400px;
    left: 400px;
}
button{
    background-color: white;
    color: black;
    height: 30px;
    width: 67px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    position: absolute;
    top: 500px;
    left: 400px;
}
a:hover{
    background-color: black;
}