/* .diwali{
    object-fit: cover;
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png);
}
.maindiv{
    height: 100vh;
} */
