body{
    background-image: url(https://images.unsplash.com/photo-1580618672591-eb180b1a973f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aGFpcnN0eWxlfGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.8;
    
}
div{
    position: absolute;
    top: 200px;
    left: 500px;
}
h2{
    font-size: 80px;
    color: white;
    font-family: 'Lugrasimo', cursive;;
}
.head_Four{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1800px;
    height: 1000px;
    background-image: linear-gradient(to top,green,white);
    opacity: 0.6;
    z-index: 0;
}
.head_Five{
    background-color: white;
    border: none;
    width: 80px;
    height: 30px;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head_Six{
    width: 100px;
    height: 30px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: white;
    font-weight: 900;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}