.bg-image{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.Bg-Container{
    color: #ffffff;
    background-color: #000000e6;
}
.Bg-Container h1,
button{
    font-family: 'Bree Serif', serif;
}
.Bg-Container h4,
.Bg-Container h5
{
    font-family: 'Roboto', sans-serif;
}
.Bg-Button-Color{
    background-color: #ffffff;
}