body{
    background-image: linear-gradient(to right,yellow,red);
}
.One{
    height: 300px;
    width: 700px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 200px;
    left: 300px;
    z-index: 0;
}
button{
    background-color: orangered;
    border-radius: 70px;
    margin: 250px;
    color: white;
    border: none;
    width: 150px;
    height: 35px;
    opacity: 0.9;
    font-family: calibri;
}
.Two{
    background-color: orangered;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    top:250px;
    left: 250px;
    z-index: 1;
}
.aa{
    position: absolute;
    top: 100px;
    left: 220px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ab{
    overflow-y: scroll;
    height: 50px;
}