body{
    background-image: url(https://directlinedev.com/media/services/service/background/background_11_nQJIc9J.normal.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
 nav li{
    list-style-type: none;
    display: inline-block;
    float: right;
}
a{  
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
h1{
    position: absolute;
    left: 500px;
    top: 200px;
    font-size: 55px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
p{
    position: absolute;
    top:300px;
    left: 500px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    position: absolute;
    left: 500px;
    top: 400px;
    border: none;
    width: 220px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.8;
}
h1::after{
content: "Now";
color: white;
}
a:hover{
    border-bottom: 2px solid yellow;
}