.a{
    list-style-type: none;
    display: flex;
    border-radius: 70px;
}
.aa,.bb,.cc,.dd,.ee{
    background-color: rgb(66, 60, 60);
    text-decoration: none;
    padding: 20px;
    color: white;
}
div{
    position: absolute;
    top:300px;
    left: 300px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aa{
    background-color: black;
    border-radius: 10px;
}