@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lugrasimo&family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');
a:hover{
    border-bottom: double 9px #20bfca ;
    display: block;
    transition: 0.9s;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.homePage{
    z-index: 35;
}
.myName{
    z-index: 40;
    position: relative;
    margin-top: 20%;
}
.myimg{
    position: relative;
    z-index:30;
}
.navbar{
    z-index:20;
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #0b4e51 20%, #fcfcfc 100%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
.aboutMecss{
    margin-top: 20%;
    margin-bottom: 20%;   
}
.fontFam{
    font-family: 'Libre Baskerville', serif;
    font-weight: 200px;
}
.CertificationFile{
    height: 40%;
    width: 30%;
   
}
.boxOne{
  
    height: 50%;
    margin-top: 30%;
    width: 50%;
}
.secondPage{
    background-color: #0b4e51;
}