body{
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: 100%;
}
.topic{
    display: flex;
    justify-content: center;
    margin-top: -65px;
    margin-left: 200px;
    list-style-type: none;
    position: sticky;
}
a{
    color: black;
    width: 150px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: white;
}
.b{
    margin-top: 12px;
    border: none;
}
h1{
    color:orangered;
}
button{
    background-color: orangered;
    color: white;
    border: none;
    height: 23px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.e{
    border-color: orangered;
    border: none;
    height: 20px;
    border-radius: 5px;
}