header{
    margin: 40px 100px;
    background-color: bisque;
    border: 2px dotted black;
    padding: 50px;
}
.firstLine p::first-line{
    color: blueviolet;
    font-variant: small-caps;
}
.firstLetter p::first-letter{
    color: blueviolet;
    font-size: xx-large;
}
.multipleElement p::first-letter{
    color: aqua;
    font-size: xx-large;
}
.multipleElement p::first-line{
    color: blueviolet;
    font-variant: small-caps;
}
.beforeElement h1::before{
    content:"(hello)";
}

.afterElement h1::after{
    content:"(hello)";
}
::marker{
    color: blueviolet;
    font-size: xx-large;
}
.selectionElement p::selection{
    background-color: blueviolet;
    color: coral;
}