body{
    background-image: url(https://p1.hiclipart.com/preview/260/137/127/group-of-people-preschool-child-child-care-kidtastic-kids-school-education-child-development-png-clipart.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.classOne{
    position: fixed;
    right: 28%;
    color: rgb(255, 255, 255);
    top: 0%;
}
h3{
    color: white;
    font-size: 25px;
    margin-left: 330px;
}
.paraOne{
    position: fixed;
    right: 10%;
    color: rgb(255, 255, 255);
    top: 0%;
}
.ulClass{
    text-decoration: none;
    list-style:none;
    display: flex;
    float:left;
    width: 750px;
    background-color: white;
    height: 40px;
    gap: 30px;
    padding-top: 15px;
    border-radius: 30px;
    
}
.iconCls{
    padding-left: 150px;
    display: flex;
     justify-content: end;
     padding-top: 15px;
}
.iconCls i{
    padding-right: 15px;
}
.navClass{
    position:absolute;
    right: 400px;
}
.contentCls{
    position: fixed;
    top: 50%;
    right: 50%;
}
.headOne{
    color: red;
}
.headTwo{
    color: white;
}
.paraSix{
    color: white;
}
.buttonCls{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 75%;
    left: 23%;
     width: 100px;
     height: 50px;
     background-color: red;
}