h1{
    text-align: center;
    color: green;
}
h3{
    text-align: center;
}
.One{
    background-color: yellow;
    width: 300px;
    animation-name: box1;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.Two{
    background-color: yellow;
    width: 300px;
    animation-name: box2;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.Three{
    background-color: yellow;
    width: 300px;
    animation-name: box3;
    animation-duration: 6s;
    animation-iteration-count: 1;
}
.Four{
    background-color: yellow;
    width: 300px;
    animation-name: box4;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.Five{
    background-color: yellow;
    width: 300px;
    animation-name: box5;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 9ms;
}
@keyframes box1{
    from{
        transform: translatex(1200px);
    }
    to{
        transform: translatey(0px);
    }
}
@keyframes box2{
    from{
        transform: translateX(1200px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes box3{
    from{
        transform: translateX(1200px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes box4{
    from{
        transform: translateX(1200px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes box5{
    from{
        transform: translateX(1200px);
    }
    to{
        transform: translateY(0px);
    }
}